<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.ssm.dao.reflexDao">
    <select id="getArticleBytitle"  resultType="it.ssm.domain.article">
        select * from article where title = ${title}
    </select>
</mapper>